body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #607d8b;
}

a:hover {
  color: #78909c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

/* pictures and images must be defined as display: block;
  Otherwise they are considered to be fonts and show font descenders
  below the baseline.
  https: //stackoverflow.com/questions/31444891/mystery-white-space-underneath-image-tag/31445364#31445364
  */
img {
  display: block;
  font-size: 0;
  line-height: 0;
  width: 100%;
  margin: 0;
}

picture {
  background: transparent;
  display: block;
  font-size: 0;
  line-height: 0;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

#profileright {
  float: right;
  max-width: 450px;
  max-height: 400px;
  position: relative;
  margin-top: 150px;
  margin-left: 100px;
  margin-right: 50px;
}

#profileleft {
  float: left;
  max-width: 380px;
  max-height: 230px;
  position: relative;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 50px;
}
.box1 {
  text-align: justify;
  line-height: 1.5;
  margin-left: 0px;
  margin-top: 20px;
  margin-right: 500px;
}

.box2 {
  text-align: center;
  background-color: #78909c;
  line-height: 1.5;
  border: 3px solid #78909c;
  margin-left: 0px;
  margin-top: 40px;
  margin-right: 500px;
}

.box3 {
  text-align: center;
  background-color: #78909c;
  line-height: 1.5;
  border: 3px solid #78909c;
  margin-left: 0px;
  margin-top: 40px;
  margin-right: 500px;
}

.box4 {
  text-align: center;
  background-color: #78909c;
  line-height: 1.5;
  border: 3px solid #78909c;
  margin-left: 500px;
  margin-top: -314px;
  margin-right: 0px;
}
